@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Montserrat', sans-serif;

  --color-brand-background: #f2f2f3;
  --color-brand-primary: #5a25fb;
  --color-brand-dark: #262529;

  /* Tags, Signatures (ex: 9px -> 14px) */
  --text-fluid-tag: clamp(0.5625rem, 0.4347rem + 0.5682vw, 0.875rem);

  /* Base & Boutons (ex: 12px -> 18px) */
  --text-fluid-base: clamp(0.75rem, 0.5966rem + 0.6818vw, 1.125rem);

  /* Titres H3 (ex: 23px -> 28px) */
  --text-fluid-h3: clamp(1.44rem, 0.47vw + 1.33rem, 1.75rem);

  /* Titres H2 (ex: 33px -> 50px) */
  --text-fluid-h2: clamp(2.5rem, 2.1932rem + 1.3636vw, 3.25rem);

  /* Gros Titres H1 / Landing (ex: 48px -> 80px) */
  --text-fluid-h1: clamp(3.2rem, 8vw + 1rem, 10.5rem);
}

@layer base {
  html {
    min-height: 100%;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-brand-background);
    font-family: var(--font-sans);
    color: var(--color-brand-dark);
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
  }
}
