@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-brand-background: #fffbf0;
  --color-brand-dark: #11100f;
  --color-brand-purple: #925cff;

  --color-blob-magenta: #e4d6ff;
  --color-blob-pink: #ffd6e8;
  --color-blob-yellow: #fff3c7;
}

@layer base {
  html {
    min-height: 100%;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-brand-background);
    font-family: var(--font-sans);
    color: var(--color-brand-dark);
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 32px 64px;
  }
}
